.containerEdit {
    width: 450px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputDescr {
    margin-top: 25px;
    padding-top: 20px;
    padding-right: 20px;
    resize: none;

}